<ion-header>
  <ion-toolbar>
    <ion-title>
      Autenticação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formLogin" (submit)="login()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="username" type="username" placeholder="username" formControlName="username" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="password" formControlName="password" required>
              </ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="formLogin.invalid" expand="block">Entrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <li>ID: {{userId}}</li>
  <li>E-MAIL: {{email}}</li>
  <li>TOKEN: {{token}}</li>


  <ion-button (click)="irParaProdutos()">
    Ver produtos
  </ion-button>

  <ion-button (click)="logout($event)">
    Sair
  </ion-button>