.padding { background-color: #FF69B4;

}
ion-item{
    --background: #e51b23;
    --color: #fff;
}
ion-button{
    --background: #e51b23;
}
a{
    color: #fff;
}
img{
    width: 150px;
    height: auto;
}



.ion-header-bar{
    background-color: #FF69B4;
}

.masters {
    background-color: #FF69B4;
}

