<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start"></ion-back-button>
    <ion-title>laticinios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="never"></ion-searchbar>
    <ion-list>
        <ion-item>
          <img src="../assets/icon/pao_queijo.png" /><ion-label> Pão de Queijo </ion-label>
          <ion-icon name="logo-usd"></ion-icon><ion-label> 2,99 Un </ion-label>
        </ion-item>
        <ion-item>
          <img src="../assets/icon/burrata.png" /><ion-label> Burrata </ion-label>
          <ion-icon name="logo-usd"></ion-icon><ion-label> 6,99 Un </ion-label>
        </ion-item>
        <ion-item>
          <img src="../assets/icon/sardela.png" /><ion-label> Sardela </ion-label>
          <ion-icon name="logo-usd"></ion-icon><ion-label> 7,99 Un </ion-label>
        </ion-item>
        <ion-item>
          <img src="../assets/icon/queijo_fleta.png" /><ion-label> Queijo Fleta </ion-label>
          <ion-icon name="logo-usd"></ion-icon><ion-label> 3,99 Un </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
