<ion-header>
  <ion-toolbar text-center color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Opções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

      <h3>Certifique-se de escolher o método de pagamento e o método de entrega </h3>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>MÉTODO DE PAGAMENTO</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Dinheiro Móvel</ion-label>
            <ion-radio slot="start" value="biff" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Cartão bancário</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pagamento na entrega</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>MODO DE ENTREGA</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Entregas ao domicílio</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Entrega em uma agência</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Retirada no Supermercado</ion-label>
        <ion-radio slot="start" value="buff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

 <ion-button expand="full" class="buton" routerLink="/modal">Concluir</ion-button>
</ion-content>
