.card-background-page {
    
    ion-card {
    position: relative;
    text-align: center;
    }

    .card-title {
     position: absolute;
     top: 66%;
     font-size: 1.6em;
     width: 100%;
     font-weight: bold;
     color:#000;
     }

    .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }
    
}
$fab-content-margin: 20px;

.link{
    color: #e51b23;
    top: 52%;
}
.icon{
    width: 40px !important; 
    height : 80px !important;
}