ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a{
    color: #fff;
}
img{
    width: 150px;
    height: auto;
}
ion-buttons button[icon-only].my-style-for-modal {
    margin: 0 6px;
    min-width: 36px;
}