<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <!-- <ion-grid>
      <ion-row>
          <ion-col>
              <ion-icon name="contacts" height="500" widht="500" ></ion-icon>
              <br>Consulta
          </ion-col>
          <ion-col>
            ion-col
            <br>#
          </ion-col>
          <ion-col>
            ion-col
            <br>#
            <br>#
          </ion-col>
          <ion-col>
            ion-col
            <br>#
            <br>#
            <br>#
          </ion-col>
        </ion-row>
  </ion-grid> -->
  <ion-searchbar showCancelButton="never"></ion-searchbar>
  <ion-list>
      <ion-item>
          <ion-avatar slot="start">
              <img src="../assets/icon/frutas.png">
          </ion-avatar>
        <ion-label> Frutas e Verduras </ion-label>
        <a class="link" routerLink='/frutas'>VER</a>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
              <img src="../assets/icon/laticinios.png">
          </ion-avatar>
        <ion-label> Laticiníos</ion-label>
        <a class="link" routerLink='/laticinios'>VER</a>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
              <img src="../assets/icon/limpeza.png">
          </ion-avatar>
        <ion-label> Limpeza</ion-label>
        <a class="link" routerLink='/limpeza'>VER</a>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
              <img src="../assets/icon/frios.png">
          </ion-avatar>
        <ion-label>Frios</ion-label>
        <a class="link" routerLink='/frios'>VER</a>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-card>
              <img src="../assets/icon/frutas.png">
              <div class="card-title">Frutas</div>
              <div class="card-subtitle"><a class="link" routerLink='/frutas'>VER</a></div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../assets/icon/laticinios.png">
              <div class="card-title">laticinios</div>
              <div class="card-subtitle"><a class="link" routerLink='/laticinios'>VER</a></div>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row> 
          <ion-col>
          <ion-card>
              <img src="../assets/icon/limpeza.png">
              <div class="card-title">Limpeza</div>
              <div class="card-subtitle"><a class="link" routerLink='/limpeza'>VER</a></div>
            </ion-card>
          </ion-col>
          <ion-col>
          <ion-card>
              <img src="../assets/icon/frios.png">
              <div class="card-title">frios</div>
              <div class="card-subtitle"><a class="link" routerLink='/frios'>VER</a></div>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
    
    

  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list> -->
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
