<ion-header>
  <ion-toolbar text-center color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tutorial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
    <ion-slides>

        <ion-slide>
          <img width="40" height="40" src="assets/icon/logo3.png"/>
          <h2>Bem vindo ao  <b class="xer">Market perfect</b></h2>
          <p>O <b>Melhor app de compras em supermercado,</b> ele é prático e facil de usar!</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/icon/login10.png"/>
          <h2>Essa é a tela de Login!</h2>
          <p><b class="xer">O Market Perfect</b> é o site Mais confiável e seguro para realizar compras.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/icon/menu10.png"/>
          <h2>Quer facilidade?</h2>
          <p><b class="xer">O Market Perfect</b> Tem um menu interativo, fácil de usar. E sem contar o seu layout moderno e prático.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/icon/mercados10.png"/>
          <h2>Está esperando o que?</h2>
          <b class="xer">O Market Perfect</b> Tem todos os Supermercados da região! 
          <h2>Vamos às compras?</h2>
          <ion-button fill="clear"><a class="link" routerLink='/logar'>Continue</a> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    <!-- <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="welcome-card">
                    <img src="/assets/icon/shop.png" alt="" />
                    <ion-card-header>
                      <ion-card-subtitle>Noticias</ion-card-subtitle>
                      <ion-card-title>20 % Desconto - {{ nomeUsuario }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <p>Produtos de limpeza</p><ion-button color="dark"><a routerLink='/limpeza'>VER</a></ion-button>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="welcome-card">
                    <img src="/assets/icon/shop.png" alt="" />
                    <ion-card-header>
                      <ion-card-subtitle>Get Started</ion-card-subtitle>
                      <ion-card-title>Bem vindo ao Market Shop- {{ nomeUsuario }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <p>Now that your app.</p>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="welcome-card">
                    <img src="/assets/icon/shop.png" alt="" />
                    <ion-card-header>
                      <ion-card-subtitle>Get Started</ion-card-subtitle>
                      <ion-card-title>Bem vindo ao Market Shop- {{ nomeUsuario }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>
    </ion-grid> -->
    
    
    <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
      fab placed to the top end -->
  
      


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="dark">Redes</ion-fab-button>
    
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-infinite-scroll threshold="100px" >
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  
</ion-content>

  